<div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center"><h1><b>Contacts List</b></h1></div>

        </div>
    
    <div class="row mt-5">
        <table class="table z-depth-1 animated fadeInLeftBig">
            <thead class="header-color white-text">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Email</th>
                    <th scope="col" class = "text-right pr-4">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor = "let contact of contacts">
                    <th scope="row">{{contact.Id}}</th>
                    <td><img class = "image-size" src = "../../assets/images/Person/{{contact.Id % totalContactImg}}.png" />{{contact.Name}}</td>
                    <td>{{contact.Mobile}}</td>
                    <td>{{contact.Email}}</td>
                    <td><div class = "text-right pr-3 icon-location">
                            <i class="far fa-edit edit-color" (click) = "openUpsertDialog(contact)"></i>
                            <i class="far fa-trash-alt ml-2 delete-color" (click) = "removeContact(contact.Id)"></i>
                        </div></td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-12 text-right">
            <button class = "btn mt-3 z-depth-1 animated fadeInRightBig" (click) = "openUpsertDialog(null)">Add Contact</button>

        </div>

    </div>

</div>