<div class="container" [formGroup]="contactForm">
    <div class="row"> 
        <div class="col-12">
            <h3 style = "text-align: center">Contact Detail</h3>
        </div>
    </div>
    <div class="row"> 
        <div class="col-12 input-wraper">  
            <div class="mt-5"><b>Name: </b> <input type = "text" class = "input-name" formControlName="name">     </div>
            <div class= "mt-5">Mobile: <input type = "text" class = "input-mobile" formControlName="mobile">    </div>
            <div *ngIf = "contactForm.get('mobile').invalid  && contactForm.get('mobile').touched">
                <small class = "text-danger mb-3" *ngIf = "contactForm.get('mobile').errors?.pattern">Invalid Mobile Number</small>    
                <small class = "text-danger mb-3" *ngIf = "contactForm.get('mobile').value == ''">Mobile Number is Required *</small>        
            </div>

            <div class= "mt-5">Email: <input type = "text" class = "input-email" formControlName="email">    </div>
            <div *ngIf = "contactForm.get('email').invalid  && contactForm.get('email').touched">
                <small class = "text-danger mb-3" *ngIf = "contactForm.get('email').errors?.pattern">Invalid Email</small>    
            </div>
        </div>    
    </div>
    <div class="row mt-5"> 
        <button class  = "btn z-depth-1" (click) = "onCloseDialogWithSave()">Confirm</button>
        <button class  = "btn ml-3 z-depth-1" style="padding: 1px 35px" (click) = "onCloseDialog()">Cancel</button>
    </div>
</div>
